{% extends "index.html" %}

{% block main_part %}
<table id="main-table">
<tr>
<td>

<div id="subscription-list">
  
Subscribe on somebody 
<form method="post" action="/subscribe">
	{% csrf_token %}	 	
	<input type="text" name="username" />
	<button type="submit">+</button>
</form>

Subscribed on

<table>
{% for i in subscriptions %}

<tr>
<td>{{ i.username }}</td>
<td>
	<form method="post" action="/unsubscribe">
	 	{% csrf_token %}
		<button class="button-like-link" type="submit" name="uid" value="{{ i.id }}" >x</button>
	</form>
</td>
</tr>

{% endfor %}
</table>
</div>

</td>
<td>

<div id="news-feed">
Subscribed posts
<table>
{% for i in posts %}
 <tr>
  <td>

	
   <table class="post-table">
    <tr>
     <td>
        {{ '#' }}{{ i.i.id }}
		<a href="view/{{i.i.id}}">{{ i.i.title }}</a>
		{% if not i.seen %} <strong>New</strong> {% endif %}
     </td>
     <td>

     </td>
    </tr>
    <tr>
     <td>
		Date: {{ i.i.date }} Creator: {{ i.i.user.username }}
     </td>
     <td>
          	
	  <form method="post" action="/unsubscribe">
	 	{% csrf_token %}
		<button class="button-like-link" type="submit" name="uid" value="{{ i.i.user.id }}">u</button>
	  </form>

	  {% if own_id == i.i.user.id  %}

	  <form method="post" action="/delete">
	 	{% csrf_token %}
		<button class="button-like-link" type="submit" name="pid" value="{{ i.i.id }}">d</button>
	  </form>
	  	  
	  {% endif %}
	  
	  {% if not i.seen %}
	  	<form method="post" action="/mark">
	 	{% csrf_token %}
		<button class="button-like-link" type="submit" name="pid" value="{{ i.i.id }}">mark read</button>
	  	</form>	  	
	  {% endif %}

     </td>
    </tr>
    <tr>
     <td colspan="2">
		{{ i.i.text }}
     </td>
    </tr>
   </table>

</td>
</tr>
{% endfor %}
</table>
</div>

</td>
<td>


<div id="own-posts">
Own posts
<table>
{% for i in own_posts %}
 <tr>
  <td>

	
   <table class="post-table">
    <tr>
     <td>
        {{ '#' }}{{ i.id }}
		<a href="view/{{i.id}}">{{ i.title }}</a>
     </td>
     <td>

     </td>
    </tr>
    <tr>
     <td>
		Date: {{ i.date }} Creator: {{ i.user.username }}
     </td>
     <td>
          	
	  <form method="post" action="/unsubscribe">
	 	{% csrf_token %}
		<button class="button-like-link" type="submit" name="uid" value="{{ i.user.id }}">u</button>
	  </form>

	  <form method="post" action="/delete">
	 	{% csrf_token %}
		<button class="button-like-link" type="submit" name="pid" value="{{ i.id }}">d</button>
	  </form>

     </td>
    </tr>
    <tr>
     <td colspan="2">
		{{ i.text }}
     </td>
    </tr>
   </table>

</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}

</td>
</tr>
</table>
